@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Roboto', sans-serif;
  --scrollbar-secondary: rgba(0,178,255);
  --scrollbar-primary:  rgba(32,32,34);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-secondary) var(--scrollbar-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-primary);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-secondary);
  border-radius: 3px;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}